.types-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.types-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.types {
  padding: 10px;
}
.flex-data {
  min-height: 220px;
  .flex-data-sprite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .flex-data-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    margin: 10px;
    span.stat-name {
      font-size: 12px;
      font-weight: bold;
    }
  }
}