.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  row-gap: 5px;
  .small-text {
    font-size: small;
  }
}

app-footer {
  flex: 0 0 50px;
}